<!-- --------------------------- New Series 1 ------------------------- -->
<div class="mat-display-4">display 4</div>
<div class="mat-display-3">display 3</div>
<div class="mat-display-2">display 2</div>
<div class="mat-display-1">display 1</div>

<div class="mat-headline">headline </div>
<div class="mat-title">title</div>
<div class="mat-subheading-2">subheading 2</div>
<div class="mat-subheading-1">subheading 1</div>

<div class="mat-body-1">body text</div>
<div class="mat-body-2">body bold</div>
<div class="mat-caption">mat caption</div>

<div class="mat-typography">
  <h1>heading h1</h1>
  <h2>heading h2</h2>
</div>

<!-- button mat -->
<div>
  <button mat-button>click me</button>
  <button mat-raised-button>click me</button>
  <button mat-flat-button>click me</button>
  <button mat-stroked-button>click me</button>
</div>
<!-- circular icon button -->
<div>
  <button mat-icon-button>icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>mini-fab</button>
</div>
<div>
  <button color="primary" mat-button>primary</button>
  <button color="accent" mat-button>accent</button>
  <!-- to disable ripple -->
  <button color="warn" disableRipple mat-button>warn</button>

  <button color="primary" mat-raised-button>primary</button>
  <button color="accent" mat-raised-button>accent</button>
  <button color="warn" mat-raised-button>warn</button>
</div>
<!-- --------------------------- New Series 2 ------------------------- -->
<!-- toggle button -->
<div>
  <mat-button-toggle-group>
    <mat-button-toggle #togglebtn checked disableRipple value="left">left</mat-button-toggle>
    {{ togglebtn.checked }}
    <mat-button-toggle value="center">center</mat-button-toggle>
    <mat-button-toggle value="right">right</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<!-- output angular or react or vue -->
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">angular</mat-button-toggle>
    <mat-button-toggle value="react">react</mat-button-toggle>
    <mat-button-toggle value="vue">vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>

<!-- output angular,react,vue -->
<div>
  <mat-button-toggle-group #toggleGroup1="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">angular</mat-button-toggle>
    <mat-button-toggle value="react">react</mat-button-toggle>
    <mat-button-toggle value="vue">vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup1.value }}
</div>
<!-- --------------------------- New Series 3 ------------------------- -->
<div>
  <mat-icon>home</mat-icon>
  <mat-icon color="primary">home</mat-icon>
  <mat-icon color="accent">home</mat-icon>
  <mat-icon color="warn">home</mat-icon>
</div>
<!-- --------------------------- New Series 3 ------------------------- -->
<!-- badges -->
<div class="badge-class">
  <div><span matBadge="1" matBadgeColor="primary">Notification</span></div>
  <div><span matBadge="10" matBadgeColor="accent">Notification</span> </div>

  <div><span matBadge="5" matBadgePosition="below before">Notification</span></div>
  <div><span matBadge="5" matBadgePosition="below after">Notification</span></div>

  <div><span matBadge="5" matBadgePosition="above before">Notification</span></div>
  <div><span matBadge="5" matBadgePosition="above after">Notification</span></div>

  <div><span matBadge="5" matBadgeSize="small">Notification</span></div>
  <div><span matBadge="5" matBadgeSize="medium">Notification</span></div>
  <div><span matBadge="5" matBadgeSize="large">Notification</span></div>

  <div><span matBadge="5" matBadgeSize="large" matBadgeOverlap="false">Notification</span></div>

  <!-- property binding -->
  <div>
    <span [matBadge]="notifications" [matBadgeHidden]="notifications ===0"
      [matBadgeOverlap]="!matBadgeOverlapFlag">Notification
    </span>
  </div>
</div>

<!-- ------------------------- progress sprinner ---------------------- -->
<div>
  <mat-spinner></mat-spinner>
  <mat-progress-spinner value="50"></mat-progress-spinner>
  <mat-progress-spinner value="100"></mat-progress-spinner>

  <mat-spinner *ngIf="showSpinner"></mat-spinner>
  <button (click)="loadData()">click</button>
</div>
<!-- ------------------------ progress bar spinner ----------------------- -->
<div><mat-progress-bar mode="query"></mat-progress-bar></div>
<div><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>
<div><mat-progress-bar mode="determinate" value="40"></mat-progress-bar></div>
<!-- ------------------------ tool bar ------------------------------ -->
<div><mat-toolbar color="primary">application</mat-toolbar></div>
<div><mat-toolbar color="accent">application</mat-toolbar></div>
<div><mat-toolbar color="warn">application</mat-toolbar></div>

<div>
  <mat-toolbar color="accent" class="navbar">
    <div>Web page application</div>
    <div>
      <span>Home</span>
      <span>About</span>
      <span>Contact</span>
    </div>
  </mat-toolbar>
</div>
<!-- ----------------------------- Sidenav bar ---------------------------------- -->
<br>
<mat-sidenav-container>
  <!-- <mat-sidenav #sidenav mode="side" [(opened)]="opened">side nav</mat-sidenav> -->

  <mat-sidenav #sidenav mode="side" (opened)="log('opened')" (closed)="log('closed')">side nav</mat-sidenav>
  <mat-sidenav-content>Main content
    <button (click)="opened = !opened" mat-button>Toggle Sidenav</button>

    <!-- open or close side nav toggle bar -->
    <button (click)="sidenav.open()">opened</button>
    <button (click)="sidenav.close()">closed</button>
    <button (click)="sidenav.toggle()">toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- ------------------------- material menu --------------------------- -->
<div>
  <button mat-button [matMenuTriggerFor]="appMenuItem">Menu</button>
  <mat-menu #appMenuItem="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</div>
