/* div {
    margin: 8rem;
} */
.navbar {
    justify-content: space-between;
}
span {
    padding-right: 5rem;
}
mat-sidenav-container {
    height: 100%;
}
mat-sidenav-content, mat-sidenav {
    padding: 20px;
}
mat-sidenav {
    color: black;
    width: 250px;
    background-color: aqua;
}